Movie_Prediction

In [627]:
from IPython.core.display import HTML
css = open('./style/style-table.css').read() + open('./style/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [628]:
import re
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('movies_with_sentiment.csv', thousands = ",")
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0

In [629]:
array = df['released_month']
cats= pd.Categorical(array)
df['released_month1'] = cats.codes

array = df['genre']
cats= pd.Categorical(array)
df['genre1'] = cats.codes

array = df['rated']
cats= pd.Categorical(array)
df['rated1'] = cats.codes

array = df['director']
cats= pd.Categorical(array)
df['director1'] = cats.codes

array = df['writer']
cats= pd.Categorical(array)
df['writer1'] = cats.codes

array = df['main_actor']
cats= pd.Categorical(array)
df['main_actor1'] = cats.codes

array = df['main_actor']
cats= pd.Categorical(array)
df['main_actor1'] = cats.codes

df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59

In [630]:
median = df[df['metascore'].notnull()]['metascore'].median()
df['metascore1'] = df['metascore']
df.loc[df['metascore'].isnull(), 'metascore1'] = median

median = df[df['rating'].notnull()]['rating'].median()
df['rating1'] = df['rating']
df.loc[df['rating'].isnull(), 'rating1'] = median

median = df[df['votes'].notnull()]['votes'].median()
df['votes1'] = df['votes']
df.loc[df['votes'].isnull(), 'votes1'] = median

df['budget1'] = df['budget']
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000

In [631]:
df['profit_ratio'] = df['gross']/df['budget']
df['profit_ratio'] = df['profit_ratio']
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000,4.154181
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000,1.139515
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000,0.101388
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000,0.625788
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000,0.023400

In [632]:
# define successful movie as earning net profit = three times its budget
def isSuccess(x):
    if x >= 3:
        return 1
    else:
        return 0

df['successful'] = df['profit_ratio'].apply(isSuccess)

In [633]:
df.head()

,id,title,year,released_month,genre,rated,runtime,language,director,writer,main_actor,metascore,rating,votes,budget,gross,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio,successful
0,1,Fifty Shades of Grey,2015,Feb,Drama,R,125,English,Sam Taylor-Johnson,Kelly Marcel,Dakota Johnson,46.0,41.0,209678.0,40000000,166167230.0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000,4.154181,1
1,2,Interstellar,2014,Nov,Adventure,PG-13,169,English,Christopher Nolan,Jonathan Nolan,Ellen Burstyn,74.0,86.0,845024.0,165000000,188020017.0,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000,1.139515,0
2,3,Blackhat,2015,Jan,Action,R,133,English,Michael Mann,Morgan Davis Foehl,Chris Hemsworth,51.0,54.0,35637.0,70000000,7097125.0,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000,0.101388,0
3,4,Rosewater,2014,Nov,Biography,R,103,English,Jon Stewart,Jon Stewart,Gael García Bernal,67.0,66.0,7698.0,5000000,3128941.0,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000,0.625788,0
4,5,God's Pocket,2014,Aug,Crime,R,88,English,John Slattery,Peter Dexter,Christina Hendricks,51.0,61.0,6968.0,1000000,23400.0,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000,0.023400,0

In [634]:
df2 = df[df.columns[16:]]
df2.head()

,sentiment,released_month1,genre1,rated1,director1,writer1,main_actor1,metascore1,rating1,votes1,budget1,profit_ratio,successful
0,11.0,3,7,5,262,176,63,46.0,41.0,209678.0,40000000,4.154181,1
1,33.0,9,1,4,53,160,81,74.0,86.0,845024.0,165000000,1.139515,0
2,8.0,4,0,5,193,222,54,51.0,54.0,35637.0,70000000,0.101388,0
3,0.0,9,3,5,149,155,89,67.0,66.0,7698.0,5000000,0.625788,0
4,0.0,1,5,5,145,243,59,51.0,61.0,6968.0,1000000,0.023400,0

In [635]:
# data
data = df2.values[:327]

# 7 movies that opened March 17, 2016 with no gross, rating, metascore, and votes
opening_movies = df2.values[327:, 0:11]

In [636]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[:, 0:11], data[:, 12], test_size=0.33, random_state=2)

In [637]:
def ratioCount(l, val):
    count = 0
    for i in range(len(l)):
        if l[i][12] == val:
            count += 1
    return count
ratioCount(data, 0)

273

In [638]:
# Show number of successful movies in train set
count = 0
for i in range(len(y_train)):
    if y_train[i] == 1:
        count += 1
print count

32

In [639]:
# Show number of successful movies in test set
count = 0
for i in range(len(y_test)):
    if y_test[i] == 1:
        count += 1
print count

22

### Naive Bayes

In [640]:
from sklearn.naive_bayes import GaussianNB
clf_NB = GaussianNB()
clf_NB.fit(X_train, y_train)
output_NB = clf_NB.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_NB = accuracy_score(y_test, output_NB)
accuracy_NB

0.79629629629629628

### SVM

In [641]:
from sklearn.svm import SVC
clf_svm = SVC()
clf_svm.fit(X_train, y_train)
output_svm = clf_svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, output_svm)
accuracy_svm

0.79629629629629628

### Logistic Regression

In [642]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression()
clf_lr.fit(X_train, y_train)
output_lr = clf_lr.predict(X_test)
accuracy_lr = accuracy_score(y_test, output_lr)
accuracy_lr

0.87962962962962965

### Random Forest

In [643]:
from sklearn.ensemble import RandomForestClassifier
clf_forest = RandomForestClassifier(n_estimators = 100, max_features = 5)
clf_forest.fit(X_train, y_train)
output_forest = clf_forest.predict(X_test)
accuracy_forest = accuracy_score(y_test, output_forest)
accuracy_forest

0.79629629629629628

### Opening Movie Gross Profit Predictions

In [644]:
clf_lr.predict(opening_movies)

array([ 0.,  0.,  0.,  1.,  1.,  1.,  0.])

<table>
    <tr>
        <th>Movie</th>
        <th>Budget</th>
        <th>Sentiment</th>
        <th>Success</th>
    </tr>
    <tr>
        <td>The Divergent Series: Allegiant</td>
        <td>115M</td>
        <td>40</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Miracles From Heaven</td>
        <td>13M</td>
        <td>41</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Midnight Special</td>
        <td>18M</td>
        <td>29</td>
        <td>0</td>
    </tr>
    <tr>
        <td>The Bronze</td>
        <td>3.5M</td>
        <td>-9</td>
        <td>1</td>
    </tr>  
    <tr>
        <td>The Program</td>
        <td>1.7M</td>
        <td>9</td>
        <td>1</td>
    </tr>
     <tr>
        <td>My Golden Days</td>
        <td>1.7M</td>
        <td>26</td>
        <td>1</td>
    </tr>
     <tr>
        <td>Batman v Superman: Dawn of Justice</td>
        <td>250M</td>
        <td>23</td>
        <td>0</td>
    </tr>
</table>